<!DOCTYPE html>
<html>

<head>


  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" href="/cn/images/favicon.ico" />
  <meta name="Author" content="万户网络设计制作" />
  <title>科大智能科技股份有限公司</title>
  <meta name="keywords"
    content="AGV,agv,换电站,充电桩,断路器,巡检机器人,工业机器人,智能电网,DTU,环网柜,柱上开关,故障指示器,叉车agv,重载agv,agv系统,自动化生产线,机械臂,助力机械手,打包机,口罩机,堆垛机,智能工厂,NB-IoT,MES,WMS,立体仓库,视觉检测" />
  <meta name="Description"
    content="科大智能科技股份有限公司（股票代码：300222），全国领先的工业智能化整体解决方案供应商之一。可提供智能电网终端、AGV移动机器人、换电站、充电桩、智能工厂整体解决方案等产品以及涵盖产品全生命周期的服务体系。" />

  <script type="text/javascript" src="/cn/js/jquery-3.3.1.min.js"></script>
  <script type="text/javascript" src="/cn/js/a.whir.menu.js"></script>
  <script type="text/javascript" src="/cn/js/a.whir.search.js"></script>
  <link rel="stylesheet" type="text/css" href="/cn/css/responsive.css" />
  <link rel="stylesheet" type="text/css" href="/cn/css/style.css" />
  <link rel="stylesheet" type="text/css" href="/cn/css/animate.min.css" />
  <script type="text/javascript" src="/cn/js/wow.min.js"></script>
  <!--[if lt IE 9]>
<script type="text/javascript" src="/cn/js/html5shiv.v3.72.min.js"></script>
<link rel="stylesheet" type="text/css" href="/cn/css/style_ie8.css" />
<![endif]-->


  <script type="text/javascript"
    src="https://api.map.baidu.com/getscript?v=2.0&amp;ak=SmYuzQFpKu70RayZ7VO8B0xC&amp;services=&amp;t=20181212102408"></script>
  <script type="text/javascript">
    var m = "7";
  </script>
</head>

<body>
  <!-- Top002138 Start -->
  <div class="Top002138 wow slideInDown">
    <div class="auto">
      <header class="header clearfix">
        <div class="header-left">
          <ul class="ul logo">

            <li class="logo_img">
              <a href='/index.aspx'><img src="/uploadfiles/2020/04/20200429140213473.png?VG9wMDAyMTM4LWxvZ28ucG5n"></a>
            </li>
            <li class="code">
              <span>股票代码：300222</span>
            </li>

          </ul>
        </div>
        <dl class="header-right">
          <dd class="search-box">
            <div class="open-search"></div>
            <div class="top-search">
              <!--search-->
              <input type="text" class="text" id="TopKey" value="">
              <a id="TopBtn" class="btn" href="javascript:void(0);"></a>
              <!--search end-->
            </div>
          </dd>
          <dd id="open_menu"><i></i></dd>
          <dd class="top-language"><span>CN</span>
            <div class="top-sub"> <a href='/index.aspx'>CN</a> <a href='/index_en.aspx'>EN</a> </div>
          </dd>
        </dl>
        <div class="header-mid">
          <nav class="header-menu clearfix sub-slideDown">
            <ul class="ul clearfix">
              <li><em><a href='/index.aspx'>首页</a></em></li>
              <li>
                <em><a href='/cn/gsjs/index_3.aspx'>关于CSG</a></em>
                <div class="sub clearfix">
                  <div class="sub-menu clearfix">
                    <dl>
                      <dd><img src="/uploadfiles/banner/20200515124252650.png"></dd>
                      <dt>
                        <a href='/cn/gsjs/index_3.aspx' title="公司介绍">
                          公司介绍
                        </a>
                      </dt>
                      <dt>
                        <a href='/cn/fzlc/index_4.aspx' title="发展历程">
                          发展历程
                        </a>
                      </dt>
                      <dt>
                        <a href='/cn/zzzs/list_44.aspx' title="荣誉资质">
                          荣誉资质
                        </a>
                      </dt>
                      <dt>
                        <a href='/cn/yjykf/index_6.aspx' title="研究开发">
                          研究开发
                        </a>
                      </dt>
                      <dt>
                        <a href='/cn/yjsmjzg/index_8.aspx' title="企业文化">
                          企业文化
                        </a>
                      </dt>
                    </dl>
                  </div>
                </div>
              </li>
              <li>
                <em><a href='/cn/gsxw/list_11.aspx'>资讯平台</a></em>
                <div class="sub clearfix">
                  <div class="sub-menu clearfix">
                    <dl>
                      <dd><img src="/uploadfiles/banner/20200515124341920.png"></dd>
                      <dt>
                        <a href='/cn/gsxw/list_11.aspx' title="新闻报道">
                          新闻报道
                        </a>
                      </dt>
                      <dt>
                        <a href='/cn/xydt/list_12.aspx' title="行业动态">
                          行业动态
                        </a>
                      </dt>
                      <dt>TopBtn
                        <a href='/cn/hdzx/list_13.aspx' title="活动资讯">
                          活动资讯
                        </a>
                      </dt>
                    </dl>
                  </div>
                </div>
              </li>
              <li id="m3">
                <em>
                  <a href='/cn/cpyfw/index_14.aspx'>
                    产品与服务
                  </a>
                </em>
                <div class="sub clearfix">
                  <div class="sub-menu clearfix">
                    <dl>
                      <dd><img src="/uploadfiles/banner/20200518093106066.png"></dd>

                      <dt class="Onlevel">
                        <em><a data-hid='19' href="javascript:void(0);">智能电气</a></em>
                        <div class="wap-nav">


                          <a href="/cn/cpyfw/list_14.aspx?lcid=85&pid=86">配电终端</a>

                          <a href="/cn/cpyfw/list_14.aspx?lcid=85&pid=87">故障指示器</a>

                          <a href="/cn/cpyfw/list_14.aspx?lcid=85&pid=88">用电终端</a>

                          <a href="/cn/cpyfw/list_14.aspx?lcid=85&pid=89">一二次设备</a>

                          <a href="/cn/cpyfw/list_14.aspx?lcid=85&pid=90">电能质量</a>

                          <a href="/cn/cpyfw/list_14.aspx?lcid=85&pid=91">电力通信</a>


                        </div>
                      </dt>

                      <dt class="Onlevel">
                        <em><a data-hid='21' href="javascript:void(0);">智能机器人</a></em>
                        <div class="wap-nav">


                          <a href="/cn/cpyfw/list_14.aspx?lcid=33&pid=73">牵引式AGV</a>

                          <a href="/cn/cpyfw/list_14.aspx?lcid=33&pid=72">承载式AGV</a>

                          <a href="/cn/cpyfw/list_14.aspx?lcid=33&pid=36">叉车式AGV</a>

                          <a href="/cn/cpyfw/list_14.aspx?lcid=33&pid=75">AGV+运载机构</a>

                          <a href="/cn/cpyfw/list_14.aspx?lcid=33&pid=76">AGV+视觉/机械手</a>

                          <a href="/cn/cpyfw/list_14.aspx?lcid=33&pid=49">轮式巡检机器人</a>


                        </div>
                      </dt>

                      <dt class="Onlevel">
                        <em><a data-hid='46' href="javascript:void(0);">智能装备</a></em>
                        <div class="wap-nav">


                          <a href="/cn/cpyfw/list_14.aspx?lcid=77&pid=105">智能移载</a>

                          <a href="/cn/cpyfw/list_14.aspx?lcid=77&pid=116">智能焊装</a>

                          <a href="/cn/cpyfw/list_14.aspx?lcid=77&pid=104">智能堆垛机</a>

                          <a href="/cn/cpyfw/list_14.aspx?lcid=77&pid=107">智能口罩生产线</a>

                          <a href="/cn/cpyfw/list_14.aspx?lcid=77&pid=108">智能卫品生产线</a>


                        </div>
                      </dt>

                    </dl>
                  </div>
                  <div class="three">

                    <div class="three-menu auto auto_1200 clearfix">


                      <div class="item proitem menuFour85">
                        <figure style="background-image: url(/uploadfiles/2020/07/20200715183737914.jpg?cGR6ZC5qcGc=)">
                        </figure>
                        <a href="/cn/cpyfw/list_14.aspx?lcid=85&pid=86">
                          <h3 class="dot">配电终端</h3>
                        </a>
                        <dl>

                          <dd><a class="dot" title='智能配变终端' href="/cn/cpyfw/info_14.aspx?itemid=421&lcid=86">智能配变终端</a>
                          </dd>

                          <dd><a class="dot" title='智能馈线终端' href="/cn/cpyfw/info_14.aspx?itemid=417&lcid=86">智能馈线终端</a>
                          </dd>

                          <dd><a class="dot" title='智能站所终端' href="/cn/cpyfw/info_14.aspx?itemid=413&lcid=86">智能站所终端</a>
                          </dd>

                        </dl>
                      </div>

                      <div class="item proitem menuFour85">
                        <figure style="background-image: url(/uploadfiles/2020/07/20200715184048031.jpg?Z3p6c3EuanBn)">
                        </figure>
                        <a href="/cn/cpyfw/list_14.aspx?lcid=85&pid=87">
                          <h3 class="dot">故障指示器</h3>
                        </a>
                        <dl>

                          <dd><a class="dot" title='暂态录波型故障指示器'
                              href="/cn/cpyfw/info_14.aspx?itemid=424&lcid=87">暂态录波型故障指示器</a></dd>

                          <dd><a class="dot" title='外施信号型配电线路故障指示器'
                              href="/cn/cpyfw/info_14.aspx?itemid=423&lcid=87">外施信号型配电线路故障指示器</a></dd>

                          <dd><a class="dot" title='暂态特征型配电线路故障指示器'
                              href="/cn/cpyfw/info_14.aspx?itemid=422&lcid=87">暂态特征型配电线路故障指示器</a></dd>

                        </dl>
                      </div>

                      <div class="item proitem menuFour85">
                        <figure style="background-image: url(/uploadfiles/2020/07/20200715184426671.jpg?eWR6ZC5qcGc=)">
                        </figure>
                        <a href="/cn/cpyfw/list_14.aspx?lcid=85&pid=88">
                          <h3 class="dot">用电终端</h3>
                        </a>
                        <dl>

                          <dd><a class="dot" title='智能塑壳断路器'
                              href="/cn/cpyfw/info_14.aspx?itemid=1224&lcid=88">智能塑壳断路器</a></dd>

                          <dd><a class="dot" title='集中器' href="/cn/cpyfw/info_14.aspx?itemid=436&lcid=88">集中器</a></dd>

                          <dd><a class="dot" title='采集器' href="/cn/cpyfw/info_14.aspx?itemid=432&lcid=88">采集器</a></dd>

                          <dd><a class="dot" title='专变终端' href="/cn/cpyfw/info_14.aspx?itemid=428&lcid=88">专变终端</a></dd>

                        </dl>
                      </div>

                      <div class="item proitem menuFour85">
                        <figure style="background-image: url(/uploadfiles/2020/07/20200715184441709.jpg?eWVjc2IuanBn)">
                        </figure>
                        <a href="/cn/cpyfw/list_14.aspx?lcid=85&pid=89">
                          <h3 class="dot">一二次设备</h3>
                        </a>
                        <dl>

                          <dd><a class="dot" title='SF6气体绝缘环网柜'
                              href="/cn/cpyfw/info_14.aspx?itemid=452&lcid=89">SF6气体绝缘环网柜</a></dd>

                          <dd><a class="dot" title='柱上负荷开关' href="/cn/cpyfw/info_14.aspx?itemid=448&lcid=89">柱上负荷开关</a>
                          </dd>

                          <dd><a class="dot" title='柱上断路器' href="/cn/cpyfw/info_14.aspx?itemid=444&lcid=89">柱上断路器</a>
                          </dd>

                          <dd><a class="dot" title='智能一体化开关'
                              href="/cn/cpyfw/info_14.aspx?itemid=440&lcid=89">智能一体化开关</a></dd>

                        </dl>
                      </div>

                      <div class="item proitem menuFour85">
                        <figure style="background-image: url(/uploadfiles/2020/07/20200715184458084.jpg?ZG56bC5qcGc=)">
                        </figure>
                        <a href="/cn/cpyfw/list_14.aspx?lcid=85&pid=90">
                          <h3 class="dot">电能质量</h3>
                        </a>
                        <dl>

                          <dd><a class="dot" title='混合式无功补偿装置'
                              href="/cn/cpyfw/info_14.aspx?itemid=458&lcid=90">混合式无功补偿装置</a></dd>

                          <dd><a class="dot" title='低电压综合治理装置'
                              href="/cn/cpyfw/info_14.aspx?itemid=457&lcid=90">低电压综合治理装置</a></dd>

                          <dd><a class="dot" title=' 静止无功发生器' href="/cn/cpyfw/info_14.aspx?itemid=456&lcid=90">
                              静止无功发生器</a></dd>

                          <dd><a class="dot" title='有源电力滤波器'
                              href="/cn/cpyfw/info_14.aspx?itemid=455&lcid=90">有源电力滤波器</a></dd>

                          <dd><a class="dot" title='电力电子式三相不平衡治理装置'
                              href="/cn/cpyfw/info_14.aspx?itemid=454&lcid=90">电力电子式三相不平衡治理装置</a></dd>

                          <dd><a class="dot" title='换相开关三相不平衡自动调节装置'
                              href="/cn/cpyfw/info_14.aspx?itemid=453&lcid=90">换相开关三相不平衡自动调节装置</a></dd>

                        </dl>
                      </div>

                      <div class="item proitem menuFour85">
                        <figure
                          style="background-image: url(/uploadfiles/2021/01/20210122100415366.jpg?MjAyMDA4MDMxMDA2MDI0OTIuanBn)">
                        </figure>
                        <a href="/cn/cpyfw/list_14.aspx?lcid=85&pid=91">
                          <h3 class="dot">电力通信</h3>
                        </a>
                        <dl>

                          <dd><a class="dot" title='5G工业无线数据终端'
                              href="/cn/cpyfw/info_14.aspx?itemid=610&lcid=91">5G工业无线数据终端</a></dd>

                          <dd><a class="dot" title='工业级光线路终端'
                              href="/cn/cpyfw/info_14.aspx?itemid=461&lcid=91">工业级光线路终端</a></dd>

                          <dd><a class="dot" title='北斗数传终端' href="/cn/cpyfw/info_14.aspx?itemid=460&lcid=91">北斗数传终端</a>
                          </dd>

                          <dd><a class="dot" title='电力载波' href="/cn/cpyfw/info_14.aspx?itemid=459&lcid=91">电力载波</a></dd>

                        </dl>
                      </div>

                      <div class="item proitem menuFour85">
                        <figure
                          style="background-image: url(/uploadfiles/2020/07/20200727113338849.jpg?5LuT5qOA5YKoLmpwZw==)">
                        </figure>
                        <a href="/cn/cpyfw/list_14.aspx?lcid=85&pid=150">
                          <h3 class="dot">电力仓检储一体化</h3>
                        </a>
                        <dl>

                          <dd><a class="dot" title='MES生产管理系统'
                              href="/cn/cpyfw/info_14.aspx?itemid=470&lcid=150">MES生产管理系统</a></dd>

                          <dd><a class="dot" title='自动化系统检测平台'
                              href="/cn/cpyfw/info_14.aspx?itemid=469&lcid=150">自动化系统检测平台</a></dd>

                          <dd><a class="dot" title='智能仓储' href="/cn/cpyfw/info_14.aspx?itemid=465&lcid=150">智能仓储</a>
                          </dd>

                        </dl>
                      </div>

                      <div class="item proitem menuFour85">
                        <figure
                          style="background-image: url(/uploadfiles/2020/07/20200722161350768.png?6ZqP6L2m6YWNLnBuZw==)">
                        </figure>
                        <a href="/cn/cpyfw/list_14.aspx?lcid=85&pid=98">
                          <h3 class="dot">交流充电桩</h3>
                        </a>
                        <dl>

                          <dd><a class="dot" title='随车配交流充电桩（玄彩）'
                              href="/cn/cpyfw/info_14.aspx?itemid=490&lcid=98">随车配交流充电桩（玄彩）</a></dd>

                          <dd><a class="dot" title='三相交流充电桩'
                              href="/cn/cpyfw/info_14.aspx?itemid=494&lcid=98">三相交流充电桩</a></dd>

                          <dd><a class="dot" title='单相交流充电桩（白昼）'
                              href="/cn/cpyfw/info_14.aspx?itemid=486&lcid=98">单相交流充电桩（白昼）</a></dd>

                        </dl>
                      </div>

                      <div class="item proitem menuFour85">
                        <figure
                          style="background-image: url(/uploadfiles/2021/01/20210122111508163.png?5pyq5qCH6aKYLTIucG5n)">
                        </figure>
                        <a href="/cn/cpyfw/list_14.aspx?lcid=85&pid=101">
                          <h3 class="dot">直流充电桩</h3>
                        </a>
                        <dl>

                          <dd><a class="dot" title='分体式直流充电桩'
                              href="/cn/cpyfw/info_14.aspx?itemid=1239&lcid=101">分体式直流充电桩</a></dd>

                          <dd><a class="dot" title='新国网直流充电桩'
                              href="/cn/cpyfw/info_14.aspx?itemid=1228&lcid=101">新国网直流充电桩</a></dd>

                          <dd><a class="dot" title='一体式直流充电桩'
                              href="/cn/cpyfw/info_14.aspx?itemid=482&lcid=101">一体式直流充电桩</a></dd>

                          <dd><a class="dot" title='小功率直流充电桩'
                              href="/cn/cpyfw/info_14.aspx?itemid=478&lcid=101">小功率直流充电桩</a></dd>

                          <dd><a class="dot" title='分布式直流充电系统'
                              href="/cn/cpyfw/info_14.aspx?itemid=474&lcid=101">分布式直流充电系统</a></dd>

                        </dl>
                      </div>

                      <div class="item proitem menuFour85">
                        <figure
                          style="background-image: url(/uploadfiles/2020/07/20200727113355423.jpg?5Lqk55u05rWB5LiA5L2T5qGpLmpwZw==)">
                        </figure>
                        <a href="/cn/cpyfw/list_14.aspx?lcid=85&pid=99">
                          <h3 class="dot">交直流一体桩</h3>
                        </a>
                        <dl>

                          <dd><a class="dot" title='交直流一体式充电桩'
                              href="/cn/cpyfw/info_14.aspx?itemid=498&lcid=99">交直流一体式充电桩</a></dd>

                        </dl>
                      </div>

                      <div class="item proitem menuFour85">
                        <figure
                          style="background-image: url(/uploadfiles/2020/07/20200727112900409.jpg?5YiG5biD5byPLmpwZw==)">
                        </figure>
                        <a href="/cn/cpyfw/list_14.aspx?lcid=85&pid=100">
                          <h3 class="dot">微电网&储能</h3>
                        </a>
                        <dl>

                          <dd><a class="dot" title='双向储能变流器'
                              href="/cn/cpyfw/info_14.aspx?itemid=500&lcid=100">双向储能变流器</a></dd>

                          <dd><a class="dot" title='分布式光伏并网接口装置'
                              href="/cn/cpyfw/info_14.aspx?itemid=499&lcid=100">分布式光伏并网接口装置</a></dd>

                        </dl>
                      </div>


                    </div>

                    <div class="three-menu auto auto_1200 clearfix">


                      <div class="item proitem menuFour33">
                        <figure
                          style="background-image: url(/uploadfiles/2020/07/20200721090509260.png?54m15byV5Z6LQUdWLnBuZw==)">
                        </figure>
                        <a href="/cn/cpyfw/list_14.aspx?lcid=33&pid=73">
                          <h3 class="dot">牵引式AGV</h3>
                        </a>
                        <dl>

                          <dd><a class="dot" title='双向潜伏牵引式AGV'
                              href="/cn/cpyfw/info_14.aspx?itemid=341&lcid=73">双向潜伏牵引式AGV</a></dd>

                          <dd><a class="dot" title='单向潜伏牵引式AGV'
                              href="/cn/cpyfw/info_14.aspx?itemid=340&lcid=73">单向潜伏牵引式AGV</a></dd>

                          <dd><a class="dot" title='后牵引式AGV'
                              href="/cn/cpyfw/info_14.aspx?itemid=343&lcid=73">后牵引式AGV</a></dd>

                          <dd><a class="dot" title='全向潜伏牵引AGV'
                              href="/cn/cpyfw/info_14.aspx?itemid=342&lcid=73">全向潜伏牵引AGV</a></dd>

                        </dl>
                      </div>

                      <div class="item proitem menuFour33">
                        <figure
                          style="background-image: url(/uploadfiles/2020/07/20200721090551077.png?5om/6L295Z6LQUdWLnBuZw==)">
                        </figure>
                        <a href="/cn/cpyfw/list_14.aspx?lcid=33&pid=72">
                          <h3 class="dot">承载式AGV</h3>
                        </a>
                        <dl>

                          <dd><a class="dot" title='重载AGV' href="/cn/cpyfw/info_14.aspx?itemid=315&lcid=72">重载AGV</a>
                          </dd>

                          <dd><a class="dot" title='复合式承载AGV'
                              href="/cn/cpyfw/info_14.aspx?itemid=355&lcid=72">复合式承载AGV</a></dd>

                          <dd><a class="dot" title='承载举升式AGV'
                              href="/cn/cpyfw/info_14.aspx?itemid=351&lcid=72">承载举升式AGV</a></dd>

                          <dd><a class="dot" title='背负承载AGV'
                              href="/cn/cpyfw/info_14.aspx?itemid=347&lcid=72">背负承载AGV</a></dd>

                        </dl>
                      </div>

                      <div class="item proitem menuFour33">
                        <figure
                          style="background-image: url(/uploadfiles/2020/07/20200721090611055.png?5Y+J6L2m5Z6LQUdWLnBuZw==)">
                        </figure>
                        <a href="/cn/cpyfw/list_14.aspx?lcid=33&pid=36">
                          <h3 class="dot">叉车式AGV</h3>
                        </a>
                        <dl>

                          <dd><a class="dot" title='自动改造叉车' href="/cn/cpyfw/info_14.aspx?itemid=360&lcid=36">自动改造叉车</a>
                          </dd>

                          <dd><a class="dot" title='托盘转运叉车' href="/cn/cpyfw/info_14.aspx?itemid=359&lcid=36">托盘转运叉车</a>
                          </dd>

                        </dl>
                      </div>

                      <div class="item proitem menuFour33">
                        <figure
                          style="background-image: url(/uploadfiles/2020/07/20200721090530403.png?QUdW5LiJ6L20LnBuZw==)">
                        </figure>
                        <a href="/cn/cpyfw/list_14.aspx?lcid=33&pid=75">
                          <h3 class="dot">AGV+运载机构</h3>
                        </a>
                        <dl>

                          <dd><a class="dot" title='AGV+E-Frame'
                              href="/cn/cpyfw/info_14.aspx?itemid=376&lcid=75">AGV+E-Frame</a></dd>

                          <dd><a class="dot" title='AGV+自动携行三轴'
                              href="/cn/cpyfw/info_14.aspx?itemid=373&lcid=75">AGV+自动携行三轴</a></dd>

                        </dl>
                      </div>

                      <div class="item proitem menuFour33">
                        <figure
                          style="background-image: url(/uploadfiles/2020/08/20200812092439836.jpg?5pyq5qCH6aKYLTEuanBn)">
                        </figure>
                        <a href="/cn/cpyfw/list_14.aspx?lcid=33&pid=76">
                          <h3 class="dot">AGV+视觉/机械手</h3>
                        </a>
                        <dl>

                          <dd><a class="dot" title='自动充电机器人'
                              href="/cn/cpyfw/info_14.aspx?itemid=371&lcid=76">自动充电机器人</a></dd>

                          <dd><a class="dot" title='自动拧紧螺栓AGV'
                              href="/cn/cpyfw/info_14.aspx?itemid=367&lcid=76">自动拧紧螺栓AGV</a></dd>

                        </dl>
                      </div>

                      <div class="item proitem menuFour33">
                        <figure
                          style="background-image: url(/uploadfiles/2020/07/20200720173945741.png?5pyq5qCH6aKYLTIucG5n)">
                        </figure>
                        <a href="/cn/cpyfw/list_14.aspx?lcid=33&pid=49">
                          <h3 class="dot">轮式巡检机器人</h3>
                        </a>
                        <dl>

                          <dd><a class="dot" title='PIR-TS400四轮八驱巡检机器人'
                              href="/cn/cpyfw/info_14.aspx?itemid=1231&lcid=49">PIR-TS400四轮八驱巡检机器人</a></dd>

                          <dd><a class="dot" title='PIR-300 变电站巡检机器人'
                              href="/cn/cpyfw/info_14.aspx?itemid=142&lcid=49">PIR-300 变电站巡检机器人</a></dd>

                          <dd><a class="dot" title='PIR-TS210变电站巡检机器人'
                              href="/cn/cpyfw/info_14.aspx?itemid=307&lcid=49">PIR-TS210变电站巡检机器人</a></dd>

                          <dd><a class="dot" title='PIR-DS400 轮式升降巡检机器人'
                              href="/cn/cpyfw/info_14.aspx?itemid=306&lcid=49">PIR-DS400 轮式升降巡检机器人</a></dd>

                          <dd><a class="dot" title='PIR-TS500履带式巡检机器人'
                              href="/cn/cpyfw/info_14.aspx?itemid=305&lcid=49">PIR-TS500履带式巡检机器人</a></dd>

                        </dl>
                      </div>

                      <div class="item proitem menuFour33">
                        <figure
                          style="background-image: url(/uploadfiles/2020/07/20200721085742417.png?6L2o6YGT5byP5beh5qOA5py65Zmo5Lq6LnBuZw==)">
                        </figure>
                        <a href="/cn/cpyfw/list_14.aspx?lcid=33&pid=41">
                          <h3 class="dot">轨道式巡检机器人</h3>
                        </a>
                        <dl>

                          <dd><a class="dot" title='PIR-DS300 变配电站房巡检机器人'
                              href="/cn/cpyfw/info_14.aspx?itemid=136&lcid=41">PIR-DS300 变配电站房巡检机器人</a></dd>

                          <dd><a class="dot" title='PIR-DS200 变配电站房巡检机器人'
                              href="/cn/cpyfw/info_14.aspx?itemid=134&lcid=41">PIR-DS200 变配电站房巡检机器人</a></dd>

                          <dd><a class="dot" title='PIR-UP200电力管廊巡检机器人'
                              href="/cn/cpyfw/info_14.aspx?itemid=67&lcid=41">PIR-UP200电力管廊巡检机器人</a></dd>

                        </dl>
                      </div>


                    </div>

                    <div class="three-menu auto auto_1200 clearfix">


                      <div class="item proitem menuFour77">
                        <figure
                          style="background-image: url(/uploadfiles/2020/07/20200721103237668.png?5py65qKw5omLLnBuZw==)">
                        </figure>
                        <a href="/cn/cpyfw/list_14.aspx?lcid=77&pid=105">
                          <h3 class="dot">智能移载</h3>
                        </a>
                        <dl>

                          <dd><a class="dot" title='助力机械手' href="/cn/cpyfw/info_14.aspx?itemid=504&lcid=105">助力机械手</a>
                          </dd>

                          <dd><a class="dot" title='Pick-up'
                              href="/cn/cpyfw/info_14.aspx?itemid=508&lcid=105">Pick-up</a></dd>

                          <dd><a class="dot" title='T型机器人' href="/cn/cpyfw/info_14.aspx?itemid=512&lcid=105">T型机器人</a>
                          </dd>

                          <dd><a class="dot" title='多轴机器人' href="/cn/cpyfw/info_14.aspx?itemid=517&lcid=105">多轴机器人</a>
                          </dd>

                        </dl>
                      </div>

                      <div class="item proitem menuFour77">
                        <figure
                          style="background-image: url(/uploadfiles/2020/07/20200721102126097.png?54SK6KOF5py65Zmo5Lq6LnBuZw==)">
                        </figure>
                        <a href="/cn/cpyfw/list_14.aspx?lcid=77&pid=116">
                          <h3 class="dot">智能焊装</h3>
                        </a>
                        <dl>

                          <dd><a class="dot" title='自动化智能车身焊接柔性生产系统	'
                              href="/cn/cpyfw/info_14.aspx?itemid=548&lcid=116">自动化智能车身焊接柔性生产系统 </a></dd>

                          <dd><a class="dot" title='汽车零部件系统化解决方案'
                              href="/cn/cpyfw/info_14.aspx?itemid=551&lcid=116">汽车零部件系统化解决方案</a></dd>

                          <dd><a class="dot" title='工业非标准智能自动化生产线'
                              href="/cn/cpyfw/info_14.aspx?itemid=553&lcid=116">工业非标准智能自动化生产线</a></dd>

                        </dl>
                      </div>

                      <div class="item proitem menuFour77">
                        <figure
                          style="background-image: url(/uploadfiles/2020/07/20200721094709954.png?5aCG5Z6b5py6LnBuZw==)">
                        </figure>
                        <a href="/cn/cpyfw/list_14.aspx?lcid=77&pid=104">
                          <h3 class="dot">智能堆垛机</h3>
                        </a>
                        <dl>

                          <dd><a class="dot" title=' 宏愿系列' href="/cn/cpyfw/info_14.aspx?itemid=520&lcid=104"> 宏愿系列</a>
                          </dd>

                          <dd><a class="dot" title='宏志系列' href="/cn/cpyfw/info_14.aspx?itemid=522&lcid=104">宏志系列</a>
                          </dd>

                          <dd><a class="dot" title=' 宏图系列' href="/cn/cpyfw/info_14.aspx?itemid=521&lcid=104"> 宏图系列</a>
                          </dd>

                        </dl>
                      </div>

                      <div class="item proitem menuFour77">
                        <figure
                          style="background-image: url(/uploadfiles/2020/07/20200721094305756.png?5Y2r5ZOB55Sf5Lqn57q/LnBuZw==)">
                        </figure>
                        <a href="/cn/cpyfw/list_14.aspx?lcid=77&pid=107">
                          <h3 class="dot">智能口罩生产线</h3>
                        </a>
                        <dl>

                          <dd><a class="dot" title='高速平面口罩生产线'
                              href="/cn/cpyfw/info_14.aspx?itemid=523&lcid=107">高速平面口罩生产线</a></dd>

                        </dl>
                      </div>

                      <div class="item proitem menuFour77">
                        <figure
                          style="background-image: url(/uploadfiles/2020/07/20200721094444542.png?5ouJ5ouJ6KOk5Lqn57q/LnBuZw==)">
                        </figure>
                        <a href="/cn/cpyfw/list_14.aspx?lcid=77&pid=108">
                          <h3 class="dot">智能卫品生产线</h3>
                        </a>
                        <dl>

                          <dd><a class="dot" title='全伺服女性经期裤生产线'
                              href="/cn/cpyfw/info_14.aspx?itemid=544&lcid=108">全伺服女性经期裤生产线</a></dd>

                          <dd><a class="dot" title='全伺服控制婴儿尿裤生产线'
                              href="/cn/cpyfw/info_14.aspx?itemid=543&lcid=108">全伺服控制婴儿尿裤生产线</a></dd>

                          <dd><a class="dot" title='全伺服护理垫生产线'
                              href="/cn/cpyfw/info_14.aspx?itemid=540&lcid=108">全伺服护理垫生产线</a></dd>

                          <dd><a class="dot" title='全伺服婴儿拉拉裤生产线'
                              href="/cn/cpyfw/info_14.aspx?itemid=539&lcid=108">全伺服婴儿拉拉裤生产线</a></dd>

                          <dd><a class="dot" title='全伺服成人失禁裤生产线'
                              href="/cn/cpyfw/info_14.aspx?itemid=538&lcid=108">全伺服成人失禁裤生产线</a></dd>

                          <dd><a class="dot" title='全伺服成人尿裤生产线'
                              href="/cn/cpyfw/info_14.aspx?itemid=536&lcid=108">全伺服成人尿裤生产线</a></dd>

                        </dl>
                      </div>


                    </div>

                  </div>
                </div>
              </li>
              <li id="m4">
                <em>
                  <a href='/cn/xyyy/index_24.aspx'>行业方案</a>
                </em>
                <!-- 获取最底层类别链接
                            <em>
                                
                                    <a href="/cn/xyyy/index_24.aspx?lcid=3">行业方案</a>
                                
                            </em>
                            -->
                <div class="sub clearfix">
                  <div class="sub-menu clearfix">
                    <dl>
                      <dd><img src="/uploadfiles/banner/20200612164246004.png"></dd>

                      <dt class="Onlevel">
                        <em><a data-hid='3' href="javascript:void(0);">航空航天</a></em>
                        <div class="wap-nav">

                          <a href="/cn/xyyy/info_24.aspx?itemid=51&lcid=132">飞机舱门对接</a>

                          <a href="/cn/xyyy/info_24.aspx?itemid=46&lcid=131">飞机大尺寸工件输送</a>

                        </div>
                      </dt>

                      <dt class="Onlevel">
                        <em><a data-hid='124' href="javascript:void(0);">轨道交通</a></em>
                        <div class="wap-nav">

                          <a href="/cn/xyyy/info_24.aspx?itemid=53&lcid=130">轨交电力智能运维</a>

                        </div>
                      </dt>

                      <dt class="Onlevel">
                        <em><a data-hid='134' href="javascript:void(0);">汽车装备</a></em>
                        <div class="wap-nav">

                          <a href="/cn/xyyy/info_24.aspx?itemid=310&lcid=144">智能换电系统</a>

                          <a href=" ">机器人滚边工作站 </a>

                        </div>
                      </dt>

                      <dt class="Onlevel">
                        <em><a data-hid='1' href="javascript:void(0);">电力能源</a></em>
                        <div class="wap-nav">

                          <a href="/cn/xyyy/info_24.aspx?itemid=524&lcid=141">新能源汽车充电桩</a>

                          <a href="/cn/xyyy/info_24.aspx?itemid=525&lcid=140">智能台区物联网</a>

                          <a href="/cn/xyyy/info_24.aspx?itemid=526&lcid=139">架空路线物联网</a>

                          <a href="/cn/xyyy/info_24.aspx?itemid=527&lcid=138">电缆架空物联网</a>

                          <a href=" ">电力智能巡检</a>

                          <a href="/cn/xyyy/info_24.aspx?itemid=530&lcid=112">微电网储能系统</a>

                        </div>
                      </dt>

                      <dt class="Onlevel">
                        <em><a data-hid='68' href="javascript:void(0);">工程机械</a></em>
                        <div class="wap-nav">

                          <a href="/cn/xyyy/info_24.aspx?itemid=572&lcid=117">重型卡车生产装配线柔性化</a>

                        </div>
                      </dt>

                      <dt class="Onlevel">
                        <em><a data-hid='67' href="javascript:void(0);">消费品</a></em>
                        <div class="wap-nav">

                          <a href="/cn/xyyy/info_24.aspx?itemid=573&lcid=145">高速平面口罩生产线</a>

                          <a href="/cn/xyyy/info_24.aspx?itemid=578&lcid=119">智能卫生用品生产线</a>

                        </div>
                      </dt>

                      <dt class="Onlevel">
                        <em><a data-hid='146' href="javascript:void(0);">电力装备制造</a></em>
                        <div class="wap-nav">

                        </div>
                      </dt>

                    </dl>
                  </div>
                  <div class="three">

                    <div class="three-menu auto auto_1200 clearfix">

                      <div class="box clearfix">
                        <div class="item menuFour3">
                          <a href="/cn/xyyy/info_24.aspx?itemid=51&lcid=132&pid=132">
                            <h2 style="background-image: url(/uploadfiles/)">飞机舱门对接</h2>
                          </a>
                        </div>
                      </div>

                      <div class="box clearfix">
                        <div class="item menuFour3">
                          <a href="/cn/xyyy/info_24.aspx?itemid=46&lcid=131&pid=131">
                            <h2 style="background-image: url(/uploadfiles/)">飞机大尺寸工件输送</h2>
                          </a>
                        </div>
                      </div>

                    </div>

                    <div class="three-menu auto auto_1200 clearfix">

                      <div class="box clearfix">
                        <div class="item menuFour124">
                          <a href="/cn/xyyy/info_24.aspx?itemid=53&lcid=130&pid=130">
                            <h2 style="background-image: url(/uploadfiles/)">轨交电力智能运维</h2>
                          </a>
                        </div>
                      </div>

                    </div>

                    <div class="three-menu auto auto_1200 clearfix">

                      <div class="box clearfix">
                        <div class="item menuFour134">
                          <a href="/cn/xyyy/info_24.aspx?itemid=310&lcid=144&pid=144">
                            <h2 style="background-image: url(/uploadfiles/)">智能换电系统</h2>
                          </a>
                        </div>
                      </div>

                      <div class="box clearfix">
                        <div class="item menuFour134">
                          <a href=" ">
                            <h2 style="background-image: url(/uploadfiles/)">机器人滚边工作站 </h2>
                          </a>
                        </div>
                      </div>

                    </div>

                    <div class="three-menu auto auto_1200 clearfix">

                      <div class="box clearfix">
                        <div class="item menuFour1">
                          <a href="/cn/xyyy/info_24.aspx?itemid=524&lcid=141&pid=141">
                            <h2 style="background-image: url(/uploadfiles/)">新能源汽车充电桩</h2>
                          </a>
                        </div>
                      </div>

                      <div class="box clearfix">
                        <div class="item menuFour1">
                          <a href="/cn/xyyy/info_24.aspx?itemid=525&lcid=140&pid=140">
                            <h2 style="background-image: url(/uploadfiles/)">智能台区物联网</h2>
                          </a>
                        </div>
                      </div>

                      <div class="box clearfix">
                        <div class="item menuFour1">
                          <a href="/cn/xyyy/info_24.aspx?itemid=526&lcid=139&pid=139">
                            <h2 style="background-image: url(/uploadfiles/)">架空路线物联网</h2>
                          </a>
                        </div>
                      </div>

                      <div class="box clearfix">
                        <div class="item menuFour1">
                          <a href="/cn/xyyy/info_24.aspx?itemid=527&lcid=138&pid=138">
                            <h2 style="background-image: url(/uploadfiles/)">电缆架空物联网</h2>
                          </a>
                        </div>
                      </div>

                      <div class="box clearfix">
                        <div class="item menuFour1">
                          <a href=" ">
                            <h2 style="background-image: url(/uploadfiles/)">电力智能巡检</h2>
                          </a>
                        </div>
                      </div>

                      <div class="box clearfix">
                        <div class="item menuFour1">
                          <a href="/cn/xyyy/info_24.aspx?itemid=530&lcid=112&pid=112">
                            <h2 style="background-image: url(/uploadfiles/)">微电网储能系统</h2>
                          </a>
                        </div>
                      </div>

                    </div>

                    <div class="three-menu auto auto_1200 clearfix">

                      <div class="box clearfix">
                        <div class="item menuFour68">
                          <a href="/cn/xyyy/info_24.aspx?itemid=572&lcid=117&pid=117">
                            <h2 style="background-image: url(/uploadfiles/)">重型卡车生产装配线柔性化</h2>
                          </a>
                        </div>
                      </div>

                    </div>

                    <div class="three-menu auto auto_1200 clearfix">

                      <div class="box clearfix">
                        <div class="item menuFour67">
                          <a href="/cn/xyyy/info_24.aspx?itemid=573&lcid=145&pid=145">
                            <h2 style="background-image: url(/uploadfiles/)">高速平面口罩生产线</h2>
                          </a>
                        </div>
                      </div>

                      <div class="box clearfix">
                        <div class="item menuFour67">
                          <a href="/cn/xyyy/info_24.aspx?itemid=578&lcid=119&pid=119">
                            <h2 style="background-image: url(/uploadfiles/)">智能卫生用品生产线</h2>
                          </a>
                        </div>
                      </div>

                    </div>

                    <div class="three-menu auto auto_1200 clearfix">

                    </div>

                  </div>
                </div>
              </li>
              <li>
                <em>
                  <a target="_blank" rel="noreferrer"
                    href="http://www.cninfo.com.cn/new/disclosure/stock?orgId=9900019148&stockCode=300222">
                    投资者关系
                  </a>
                </em>
                <div class="sub clearfix">
                  <div class="sub-menu clearfix">
                    <dl>
                      <dd><img src="/uploadfiles/banner/20200515124401620.png"></dd>

                      <dt><a target="_blank" rel="noreferrer"
                          href='http://www.cninfo.com.cn/new/disclosure/stock?orgId=9900019148&stockCode=300222'
                          title="公示公告">公示公告</a></dt>

                      <dt>
                        <a target="_blank" rel="noreferrer" href="http://rs.p5w.net/c/300222.shtml"
                          title="互动平台">互动平台</a>
                      </dt>
                      <dt>
                        <a target="_blank" rel="noreferrer" href="http://quote.eastmoney.com/sz300222.html"
                          title="股票信息">股票信息</a>
                      </dt>
                      <dt>
                        <a target="_blank" rel="noreferrer" href='/cn/lnnb/index_26.aspx' title="历年年报">
                          历年年报
                        </a>
                      </dt>
                    </dl>
                  </div>
                </div>
              </li>
              <li>
                <em><a href='/cn/rcln/index_28.aspx'>加入CSG</a></em>
                <div class="sub clearfix">
                  <div class="sub-menu clearfix">
                    <dl>
                      <dd><img src="/uploadfiles/banner/20200515124418420.png"></dd>
                      <dt>
                        <a href='/cn/rcln/index_28.aspx' title="人才理念">
                          人才理念
                        </a>
                      </dt>
                      <dt>
                        <a href='/cn/pdzl/index_29.aspx' title="攀登之路">
                          攀登之路
                        </a>
                      </dt>
                      <dt><a
                          href="https://search.51job.com/list/020000,000000,0000,00,9,99,%25E7%25A7%2591%25E5%25A4%25A7%25E6%2599%25BA%25E8%2583%25BD,2,1.html?lang=c&postchannel=0000&workyear=99&cotype=99&degreefrom=99&jobterm=99&companysize=99&ord_field=0&dibiaoid=0&line=&welfare="
                          title="招聘职位">招聘职位</a></dt>
                    </dl>
                  </div>
                </div>
              </li>
              <li>
                <em>
                  <a href='/cn/lxwmQX/index_31.aspx'>联系我们</a>
                </em>
                <div class="sub clearfix">
                  <div class="sub-menu clearfix">
                    <dl>
                      <dd><img src="/uploadfiles/banner/20200515124553551.png"></dd>
                      <dt>
                        <a href='/cn/lxwmQX/index_31.aspx' title="联系我们">
                          联系我们
                        </a>
                      </dt>
                      <dt>
                        <a href='/cn/csgfb/index_32.aspx' title="CSG分部">
                          CSG分部
                        </a>
                      </dt>
                      <dt>
                        <a href='/cn/ljjbpt/index_33.aspx' title="廉洁合规平台">
                          廉洁合规平台
                        </a>
                      </dt>
                    </dl>
                  </div>
                </div>
              </li>
            </ul>
          </nav>
        </div>
      </header>
    </div>
    <script>
      //打开搜索
      $(".Top002138 .open-search").click(function (e) {
        $(".Top002138 .top-search").fadeToggle();
        if ($(this).hasClass("open-search-on")) {
          $(this).removeClass("open-search-on")
        } else {
          $(this).addClass("open-search-on")
        }
      });
      //搜索
      $("#TopBtn").jqSearch({
        TxtVal: "请输入关键词",
        KeyTxt1: "输入关键词搜索！",
        KeyTxt2: "输入的关键词字数不要过多！",
        KeyTxt3: "您输入的内容存在特殊字符！",
        KeyId: "TopKey", //输入框id
        KeyUrl: "/cn/search/index_52.aspx", //跳转链接
        KeyHref: "key", //链接传值
        Static: false //是否静态站
      });

      //移动端打开菜单
      $(".Top002138 #open_menu").click(function (e) {
        $(".Top002138 #header-menu").slideToggle();
      });

      //语言版本
      $(".Top002138 .top-language").hover(function (e) {
        $(this).find(".top-sub").stop(true, true).slideDown();
      }, function () {
        $(this).find(".top-sub").stop(true, true).slideUp();
      });

      //产品与服务
      $("#m3 .sub .sub-menu dt").mouseover(function (e) {
        var e = $(this).index() - 1;
        $(this).addClass("on");
        $(this).siblings().removeClass("on");
        $("#m3 .three").find(".three-menu").eq(e).show();
        $("#m3 .three").find(".three-menu").eq(e).siblings().hide();
      });

      //行业应用
      $("#m4 .sub .sub-menu dt").click(function (e) {
        var e = $(this).index() - 1;
        $(this).addClass("on");
        $(this).siblings().removeClass("on");
        $("#m4 .three").find(".three-menu").eq(e).show();
        $("#m4 .three").find(".three-menu").eq(e).siblings().hide();
      });

      //滚动后
      $(window).scroll(function (e) {
        var Top002138_istop = $(document).scrollTop()
        if (Top002138_istop > 0) {
          $(".Top002138").addClass("Top002138_fixed");
        } else {
          $(".Top002138").removeClass("Top002138_fixed")
        }
      });

    </script>
  </div>

  <!-- Top002138 End -->

  <!-- Banner002307 Start -->


  <div class="Banner002307 wow slideInDown" data-role="part">
    <span style="background-image: url(/uploadfiles/banner/20200514150208831.jpg);"></span>
    <img src="/uploadfiles/banner/20200514150208831.jpg" />
  </div>

  <!-- Banner002307 End -->

  <!-- Menu000939 Start -->


  <div class="Menu000939 wow slideInUp" data-role="part">
    <nav>
      <div class="auto auto_1200">
        <div class="current"><a href="/index.aspx">首页</a>><a href="/cn/lxwmQX/index_31.aspx">联系我们</a>><span>联系我们</span>
        </div>
        <ul class="ul">

          <li id="nav31"><a href='/cn/lxwmQX/index_31.aspx'>联系我们</a></li>

          <li id="nav32"><a href='/cn/csgfb/index_32.aspx'>CSG分部</a></li>

          <li id="nav33"><a href='/cn/ljjbpt/index_33.aspx'>廉洁合规平台</a></li>

        </ul>
        <div class="clear"></div>
      </div>
    </nav>
    <script>
      var nav = '31';
      $("#nav" + nav).find("a").addClass("aon");
    </script>
  </div>

  <!-- Menu000939 End -->

  <!-- RighInfo002275 Start -->
  <div class="RighInfo002275 auto auto_1200 clearfix">
    <div class="map  wow slideInUp">
      <div id="map"></div>
    </div>
    <h3 class="wow slideInLeft">科大智能科技股份有限公司(总部)</h3>
    <div class="text wow slideInLeft">
      <p class="p address">地址：上海市泗砖公路777号</p>
      <p class="p tel">电话：021-50809880</p>
      <p class="p post">传真：021-59591800</p>
      <p class="p fax">邮箱：csg@csg.com.cn</p>
    </div>
    <p class="img wow slideInRight">
      <img src="/uploadfiles/image/RighInfo002275_weixin.png?UmlnaEluZm8wMDIyNzVfd2VpeGluLnBuZw==" />
      <span>微信账号：CSG-KDZN</span>
    </p>
    <p class="img wow slideInRight">
      <img src="/uploadfiles/2020/04/20200426160557555.jpg?dGlrdG9rLmpwZw==" />
      <span>抖音账号：CSG科大智能</span>
    </p>
  </div>
  <!-- RighInfo002275 End -->
  <script>
    (function (jQuery, window, document) {
      function RighInfo002275 () {
        var sContent = "科大智能科技股份有限公司(总部)</br>电话：021-50809880</br>地址：上海市泗砖公路777号";
        var map = new BMap.Map("map");
        var point = new BMap.Point(121.294235, 31.103267);
        var myIcon = new BMap.Icon("/cn/images/RighInfo002275-map_icon.png", new BMap.Size(30, 30));
        map.centerAndZoom(point, 16);
        var marker = new BMap.Marker(point, {
          icon: myIcon
        }); // 创建标注
        map.addOverlay(marker); // 将标注添加到地图中
        map.enableScrollWheelZoom(); //启用滚轮放大缩小，默认禁用
        map.enableContinuousZoom(); //启用地图惯性拖拽，默认禁用
        // marker.setAnimation(BMAP_ANIMATION_BOUNCE); //跳动的动画
        var infoWindow = new BMap.InfoWindow(sContent); // 创建信息窗口对象
        // map.openInfoWindow(infoWindow,point); //开启信息窗口

        marker.addEventListener("click", function () {
          this.openInfoWindow(infoWindow);
        });
      }
      RighInfo002275();
    })(jQuery, window, document)
  </script>


  <!--Bottom002574 Start -->


  <div class="Bottom002574 wow slideInUp">
    <footer class="bottom">
      <div class="auto auto_1200 clearfix">
        <ul class="ul share">

          <li>
            <img class="logo" src="/uploadfiles/2020/12/20201216091813155.png?56eR5aSn5pm66IO95b2p6ImybG9nby0zLnBuZw==">
            <p>电话：021-50809880</p>
            <p>地址：上海市泗砖公路777号</p>
          </li>


          <li>
            <div class="bdsharebuttonbox">
              <a href="javascript:void();" class="bds_weixin">
                <img src="/uploadfiles/image/RighInfo002275_weixin.png?UmlnaEluZm8wMDIyNzVfd2VpeGluLnBuZw==">
              </a>
              <a href="javascript:void();" class="bds_tsina">
                <img src="/uploadfiles/2020/04/20200426160557555.jpg?dGlrdG9rLmpwZw==">
              </a>
            </div>
          </li>

        </ul>
        <nav class="clearfix">
          <dl>
            <dt>关于CSG<i></i></dt>
            <dd>
              <a href='/cn/gsjs/index_3.aspx' title='公司介绍'>
                公司介绍
              </a>
            </dd>
            <dd>
              <a href='/cn/fzlc/index_4.aspx' title='发展历程'>
                发展历程
              </a>
            </dd>
            <dd>
              <a href='/cn/zzzs/list_44.aspx' title='荣誉资质'>
                荣誉资质
              </a>
            </dd>
            <dd>
              <a href='/cn/yjykf/index_6.aspx' title='研究开发'>
                研究开发
              </a>
            </dd>
            <dd>
              <a href='/cn/yjsmjzg/index_8.aspx' title='企业文化'>
                企业文化
              </a>
            </dd>
          </dl>
          <dl>
            <dt>资讯平台<i></i></dt>
            <dd>
              <a href='/cn/gsxw/list_11.aspx' title='新闻报道'>
                新闻报道
              </a>
            </dd>
            <dd>
              <a href='/cn/xydt/list_12.aspx' title='行业动态'>
                行业动态
              </a>
            </dd>
            <dd>
              <a href='/cn/hdzx/list_13.aspx' title='活动资讯'>
                活动资讯
              </a>
            </dd>
          </dl>
          <dl>
            <dt>产品与服务<i></i></dt>

            <dd> <a href="/cn/cpyfw/index_14.aspx?lcid=19" title='智能电气'>智能电气</a> </dd>

            <dd> <a href="/cn/cpyfw/index_14.aspx?lcid=21" title='智能机器人'>智能机器人</a> </dd>

            <dd> <a href="/cn/cpyfw/index_14.aspx?lcid=46" title='智能装备'>智能装备</a> </dd>

          </dl>
          <dl>
            <dt>行业方案<i></i></dt>

            <dd> <a href='/cn/xyyy/info_24.aspx?itemid=51&lcid=132&pid=132' title='航空航天'>航空航天</a> </dd>

            <dd> <a href='/cn/xyyy/info_24.aspx?itemid=53&lcid=130&pid=130' title='轨道交通'>轨道交通</a> </dd>

            <dd> <a href='/cn/xyyy/info_24.aspx?itemid=310&lcid=144&pid=144' title='汽车装备'>汽车装备</a> </dd>

            <dd> <a href='/cn/xyyy/info_24.aspx?itemid=530&lcid=112&pid=112' title='电力能源'>电力能源</a> </dd>

            <dd> <a href='/cn/xyyy/info_24.aspx?itemid=572&lcid=117&pid=117' title='工程机械'>工程机械</a> </dd>

            <dd> <a href='/cn/xyyy/info_24.aspx?itemid=578&lcid=119&pid=119' title='消费品'>消费品</a> </dd>

            <dd> <a href='<p>
	暂无数据
</p>' title='电力装备制造'>电力装备制造</a> </dd>

          </dl>
          <dl>
            <dt>投资者关系<i></i></dt>
            <dd><a target="_blank" rel="noreferrer"
                href="http://www.cninfo.com.cn/new/disclosure/stock?orgId=9900019148&stockCode=300222"
                title="公示公告">公示公告</a></dd>
            <dd><a href="http://rs.p5w.net/c/300222.shtml" title="互动平台">互动平台</a></dd>
            <dd><a href="http://quote.eastmoney.com/sz300222.html" title="股票信息">股票信息</a></dd>
            <dd><a href='/cn/lnnb/index_26.aspx' title='历年年报'>历年年报</a></dd>
          </dl>
          <dl>
            <dt>加入CSG<i></i></dt>
            <dd>
              <a href='/cn/rcln/index_28.aspx' title='人才理念'>
                人才理念
              </a>
            </dd>
            <dd>
              <a href='/cn/pdzl/index_29.aspx' title='攀登之路'>
                攀登之路
              </a>
            </dd>
            <dd><a
                href="https://search.51job.com/list/020000,000000,0000,00,9,99,%25E7%25A7%2591%25E5%25A4%25A7%25E6%2599%25BA%25E8%2583%25BD,2,1.html?lang=c&postchannel=0000&workyear=99&cotype=99&degreefrom=99&jobterm=99&companysize=99&ord_field=0&dibiaoid=0&line=&welfare="
                title="招聘职位">招聘职位</a></dd>
          </dl>

          <dl>
            <dt>联系我们<i></i></dt>
            <dd>
              <a href='/cn/lxwmQX/index_31.aspx' title='联系我们'>
                联系我们
              </a>
            </dd>
            <dd>
              <a href='/cn/csgfb/index_32.aspx' title='CSG分部'>
                CSG分部
              </a>
            </dd>
            <dd>
              <a href='/cn/ljjbpt/index_33.aspx' title='廉洁合规平台'>
                廉洁合规平台
              </a>
            </dd>
          </dl>
        </nav>
      </div>
    </footer>
    <dl class="copyright clearfix auto auto_1200">
      <dt>
        <a href='/cn/yqlj/index_35.aspx'>友情链接</a>
        <a href='/cn/wzdt/index_36.aspx'>网站地图</a>
        <a href='/cn/flsm/index_37.aspx'>法律声明</a>
      </dt>
      <a href="http://beian.miit.gov.cn" target="_blank">沪ICP备10018402号</a>
      <dd>
        Copyright © 2020 科大智能科技股份有限公司 All Rights Reserved .Designed by <a href="http://www.wanhu.com.cn"
          target="_blank">Wanhu</a>.
      </dd>
    </dl>
  </div>
  <script>
    new WOW().init();
    //整站无图处理
    $.each($("img"), function (i, n) {
      $(n).on('error', function () {
        n.src = '/uploadfiles/nopic.gif';
      });
      n.src = n.src;
    });
  </script>
  <script>
    var _hmt = _hmt || [];
    (function () {
      var hm = document.createElement("script");
      hm.src = "https://hm.baidu.com/hm.js?a753b362b4b7cbd05587a14f648fc6b9";
      var s = document.getElementsByTagName("script")[0];
      s.parentNode.insertBefore(hm, s);
    })();
  </script>


  <!--Bottom002574 End-->
</body>

</html>